.vscode
geckodriver.log
.idea
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
*.iws /out/
*.py[cod]
*$py.class
celerybeat-schedule.*
.env
.venv
venv/*
reports/
logs/*
account/migrations/*
dashboard/migrations/*
event/migrations/*